@charset "utf-8";

html {
    background: #FFF;
    color: #000;
    font-size: 62.5%;
}

body, div, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

body{
    -webkit-text-size-adjust: 100%; /* Safari/Chromeでのテキスト自動調整を無効化 */
    text-size-adjust: 100%; 
    width: 100%;
    text-decoration: none;
}

.contents{
  max-width: 393px;
  margin: 0 auto;
}

img{
    display: block;
}


h1, h2, h3{
    font-size: 100%;
	font-weight: normal;
}

h2{
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/*=======
header
========*/

#header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
}

.header_logo{
    width: 104px;
    height: 46px;
    margin: auto 0 auto 1%;
}

.header_p{
    font-size: 2.4rem;
    font-weight: bold;
    margin: auto 0 auto 2.5%;
}

#header .QuestChild{
  font-size: 2rem;
}

/*============
nav
=============*/
nav {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 393px;
    background-image: url(./assets/img/tyousouji.png);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%); /* 初期位置 */
    transition:  0.7s ease-in-out;
    z-index: 17;
  }
  .open nav {
    right: 0;
    transform: translateX(0); /* 開いた状態 */
  }
  nav .inner {
    padding-left: 40px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 40px 0;
    z-index: 20;
  }
  nav .inner ul li a {
    display: block;
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 500;
  }

  nav .inner ul li:first-child{
    margin-top: 100px;
  }

  nav .inner ul li:nth-child(4){
    margin-bottom: 15px;
  }

  nav .inner ul li:nth-child(5),nav .inner ul li:nth-child(6),nav .inner ul li:nth-child(7){
    margin: 15px 0;
    margin-left: 20px;
  }

  .nav_button{
    background-color: #FFF;
    width: 44.2%;
    height: 5.3%;
    display: flex;
    border: none;
    justify-content: start;
    margin:  100px  auto  0 auto;
    background-color: #FF4C00;
  }
  
  nav .nav_p{
    font-weight: bolder;
    color: #fff;
    font-weight: 900;
    margin: 0;
    margin-top: 12px;
    margin-left: 10%;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  
  .nav_arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  z-index: 19;
  }
  .nav_arrow::before,
  .nav_arrow::after{
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
  z-index: 19;
  }
  
  .nav_arrow::before{
    left: 40%;
  width: 14px;
  height: 2px;
  background: #FFF;
  }
  
  .nav_arrow::after{
    left: 80%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }

  nav .inner ul li a:hover {
    background: #e4e4e4;
  }


  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 15px;
    bottom: 0;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 20;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FF4C00;
;
    border-radius: 4px;
    transition: all 1s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #4388FF;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }


  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); 
    z-index: 11;
    cursor: pointer;
  }

  /*========
    メインsection
  =========*/

  .section1 {
    position: relative;
    overflow: hidden;
  }
  
  .rotating-h1 {
    position: relative;
  }
  
  .rotating-h1 .h1_1,
  .rotating-h1 .h1_2,
  .rotating-h1 .h1_3 {
    font-family: "Tamanegi Kaisho Geki FreeVer 7";
    transform: rotate(350deg);
    opacity: 0; /* 初期状態で透明 */
    animation: rotating-h1 1.2s ease-out forwards;
  }
  
  .rotating-h1 .h1_1 {
    animation-delay: 0s; /* 0秒後にアニメーション開始 */
  }
  
  .rotating-h1 .h1_2 {
    animation-delay: 0.6s; /* 0.3秒後にアニメーション開始 */
  }
  
  .rotating-h1 .h1_3 {
    animation-delay: 1.2s; /* 0.6秒後にアニメーション開始 */
  }
  
  @keyframes rotating-h1 {
    0% {
      transform: rotate(0deg) scale(100) translateY(20px); /* 初期状態 */
      opacity: 0; /* 透明 */
    }
    /**50% {
      transform: rotate(720deg) scale(2);
      opacity: 0.5; 
    }**/
    100% {
      transform: rotate(2150deg) scale(1) translateY(0); /* 完全に回転 */
      opacity: 1; /* 完全に表示 */
    }
  }
  
  .h1_1 {
    z-index: 3;
    font-size: 3.2rem;
    color: #4388FF;
    position: absolute;
    top: 265px;
    left: 3%;
  }
  
  .h1_2 {
    z-index: 3;
    font-size: 6.4rem;
    color: #FFF;
    position: absolute;
    top: 300px;
    left: -7%;
  }
  
  .h1_3 {
    z-index: 3;
    font-size: 2.4rem;
    color: #FFF;
    position: absolute;
    top: 377px;
    left: 4%;
  }
  
  .section1_img1 {
    width: 86px;
    height: 26px;
    transform: rotate(350deg);
    position: absolute;
    left: 4%;
    top: 428px;
  }
  
  .section1_button {
    width: 17.3rem;
    height: 4.4rem;
    display: flex;
    justify-content: start;
    border: 0;
    background-color: #FF4C00;
    position: absolute;
    right: 3%;
    top: 434px;
  }
  
  .section1_button_p {
    font-weight: bolder;
    margin-top: 1.1rem;
    margin-left: 1.6rem;
    font-size: 1.4rem;
    padding-right: 10px;
    color: #FFF;
  }
  
  .section1_button_a_arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
  }
  
  .section1_button_a_arrow::before,
  .section1_button_a_arrow::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  
  .section1_button_a_arrow::before {
    top: 22px;
    left: 3px;
    width: 15px;
    height: 2px;
    background: #FFF;
  }
  
  .section1_button_a_arrow::after {
    top: 22px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    transform: rotate(45deg);
  }

  .section1_img2, .section1_img3 {
    opacity: 0;
    animation: section1_img 0.5s ease-out forwards;
}

.section1_img2 {
    animation-delay: 3s;
    width: 30%;
    position: absolute;
    top: 497px;
    left: 9%;
}

.section1_img3 {
    animation-delay: 2.6s;
    width: 393px;
    position: absolute;
    top: 578px;
}

@keyframes section1_img {
    0% {
        transform: translateY(100px); /* 初期位置を下にずらす */
        opacity: 0; /* 透明 */
    }
    100% {
        transform: translateY(0); /* 元の位置に戻す */
        opacity: 1; /* 完全に表示 */
    }
}
/*======
section2
=======*/

.section2{
    padding: 20px 0 0 0;
    margin-bottom: 60px;
}

.section2_div1 h2{
    color: #4388FF;
}

.section2_div1{
  margin-bottom: 50px;
}

.section2_div1 p,.section2_div2 p{
    font-size: 1.6rem;
    text-align: center;
    line-height: 28.8px;
}

.section2_div2{
    padding: 10px 0;
    background-color: #4388FF;
    border-radius: 45px;
}

.section2_div2 h2{
    color: #fff;
}

.section2_div2 p{
    color: #FFF;
}

.section2_div2_div{
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.section2_div2_div_img1,.section2_div2_div_img2{
    width: 156px;
    height: 99px;
}

.section2_div2_div_img1{
    margin-bottom: 49px;
}

.section2_div2_div_img2{
    margin-top: 49px;
}

/*======
section3
=======*/

.section3_intro h2:first-child,.section3_intro h2:last-child{
    color: #4388FF;
}

.section3_intro h2:last-child{
  margin-top: 30px;
  margin-bottom: 10px;
}

.section3_intro h2{
    color: #20B6F1;
}

.section3_intro p{
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

/* 画像全体をラップするコンテナ */
.section3_images {
  display: flex;
  overflow: hidden; /* コンテナ外の画像を非表示に */
  width: 100%;
  position: relative;
}

.section3_images_inner {
  display: flex;
  width: max-content; /* 子要素全体を収める */
}

.section3_images img {
  flex-shrink: 0; /* 画像が縮小しないようにする */
  width: 30%; /* 各画像の幅 */
  object-fit: cover; /* 比率を保ったまま表示 */
  margin-right: 20px; /* 画像間のスペース */
}

.step_sh{
  position: sticky;
  margin-top: 60px;
  top: calc(50vh - 99.275px);
  width: 98.79px;
  height: 198.55px;
  z-index: 12;
}

.figure_section3_steps {
  width: 98.79px;
  height: 198.55px;
  position: relative;
  overflow: hidden;
  z-index: 11;
}

.section3_steps_imgs {
  display: flex;
  position: relative;
  top: 0;
  left: 0px;
  list-style: none;
  transition: left 0.3s ease;
  width: 98.79px;
  height: 198.55px;
  padding: 0;
  margin: 0;
}

.section3_steps_imgs {
  position: relative; /* これがないとleftが反映されない */
}

.section3_steps_li {
  flex: 0 0 100%; /* 各画像を横幅いっぱいに配置 */
}

.section3_steps_img {
  width: 100%; /* 必要に応じてサイズを調整 */
  height: auto;
}

.step {
  margin-left: 12%;
}

.step_sh{
  margin-left: 10%;
}



.step:first-child {
  padding-bottom: 40px;
}

.step:last-child {
  padding-top: 40px;
}

.step:nth-child(2),
.step:nth-child(3) {
  padding: 40px 0;
}

.section3_steps {
  padding: 40px 0;
  border-radius: 45px;
  background-color: #eaeaea;
  position: relative; /* 親要素にrelativeを設定 */
  display: flex;
}


.section3_steps .step_div {
  padding: 20px 0 0 0;
}

.step_div h3{
  font-size: 2rem;
  font-weight: 700;
  width: 160px;
  color: #20B6F1;
}

.step_div_p1{
  margin-top: 20px;
  font-size: 1.4rem;
  line-height: 21px;
  word-spacing: 2px;
  font-weight: 500;
}

.step_div_p2{
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}

.step:last-child h3 {
  width: 220px;
  white-space: pre-line;
}

.section3_steps p:first-child {
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 1px;
  color: #4388ff;
  position: relative;
  right: 57%;
}

.section3_steps .step_div_2 {
  padding: 0;
}

.step_div_2 {
  margin-left: 8%;
}

.step_div_2 h3 {
  font-size: 2rem;
  color: #20b6f1;
  font-weight: bold;
  width: 80%;
}

.step:last-child .step_div_2 h3 {
  width: 100%;
}

.step_div_2 p {
  font-size: 1.4rem;
  margin-top: 20px;
  line-height: 21px;
  letter-spacing: 1px;
  font-weight: 500;
}

.step_div_2 p:last-child {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.5px;
  opacity: 50%;
}

/*============
section4
=============*/

.section4_quests p{
  text-align: center;
}

.section4_quests p:first-child{
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #20B6F1;
}

.questsIntroduction{
  margin-top: 60px;
}

.section4_quests h2{
  color: #00A3FF;
  font-family: "Tamanegi Kaisho Geki FreeVer 7";
  font-weight: 400;
  margin-top: 20px;
}

.section4_quests .questNumber{
  color: #00A3FF;
  font-weight: 900;
}

.section4_quests p{
  font-size: 1.6rem;
  line-height: 28.8px;
  letter-spacing: 1px;
  font-weight: 600;
}


.section4_quests h3{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
}

.rood1{
  position: relative;
  padding-bottom: 191px;
  margin-top: 40px;
  background-color: #F5E8C7;
  border-top-left-radius: 183px 67px;
  border-top-right-radius: 183px 67px;

}



.rood1 img:first-child,.rood1 img:nth-child(2),.rood1 img:nth-child(4),.rood1 img:nth-child(5){
  position: absolute;
}


.rood1 img:first-child{
  width: 74%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

.rood1_foot{
  position: absolute;
  z-index: 13;
  top: 55px;
  left: 32%;
}

.rood1 img:nth-child(2){
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.rood1 img:nth-child(4){
  width: 27%;
  z-index: 14;
  left: 9%;
  top: 60px;
}

.rood1 img:nth-child(5){
  width: 25%;
  z-index: 14;
  left: 68%;
  top: 93px;
}

.quest{
  background-color: #F5E8C7;
  padding-bottom: 191px;
}

.questImg{
  position: absolute;
}

.questContents{
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 191px;
  background-color: #FFF;
  padding-bottom: 191px;
}

.questTitle{
  display: flex;
  position: relative;
  bottom: 23px;
}

.mapPin{
  width: 17%;
}

.quest .questTitle h2{
  margin: auto 0;
}

.section4_quests .questNumber{
  margin: 0 0 0 8%;
  text-align: left;
}


.section4_quests .questStory{
  width: 64%;
  text-align: left;
  margin: 20px auto 0 auto;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;
  letter-spacing: 1px;
}

.questContents_button{
  width: 58%;
  height: 4.4rem;
  display: flex;
  border: none;
  justify-content: start;
  background-color: #FF4C00;
  margin: 20px auto 40px auto;
}

.quest .questContents_button .questContents_p{
  font-weight: bolder;
  margin: auto 2% auto 6%;
  font-size: 1.2rem;
  color: #FFF;
  font-weight: 900;
}

.questContents_arrow{
position: relative;
display: inline-block;
padding: 0 0 0 16px;
color: #000;
vertical-align: middle;
text-decoration: none;
font-size: 15px;
z-index: 6;
}
.questContents_arrow::before,
.questContents_arrow::after{
position: absolute;
top: 22px;
bottom: 0;
left: 0;
margin: auto;
content: "";
vertical-align: middle;
z-index: 6;
}

.questContents_arrow::before{
width: 14px;
height: 2px;
background: #fff;
}

.questContents_arrow::after{
  left: 5px;
width: 6px;
height: 6px;
border-top: 2px solid #fff;
border-right: 2px solid #FFF;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.questContents .rood2{
  background-color: #F5E8C7;
}

.questContents .store .store_p {
  position: relative;
  width: 60%;
  padding: 3px 0;
  background-color: #FF4C00;
  color: #FFF;
  margin: 0 auto;
  bottom: 18px;
  font-weight: 900;
}

.store{
  width: 68%;
  margin: 0 auto;
  background-color: #F5E8C7;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.storeIntroduction p{
  position: relative;
}

.storeIntroduction p:first-child{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 20px;
  color: #000;
  bottom: 13px;
}

.storeIntroduction p:nth-child(2){
  font-size: 1.4rem;
  line-height: 21px;
  color: #000;
  bottom: 13px;
  margin-bottom: 17px;
}

.storeIntroduction_button{
  background-color: #FFF;
  width: 77%;
  height: 34px;
  display: flex;
  border: solid 1px;
  justify-content: start;
  margin:  0  auto;
  border-color: #FF4C00;
}

.quest .storeIntroduction_button .storeIntroduction_p{
  font-weight: bolder;
  color: #FF4C00;
  font-weight: 900;
  margin: 0;
  margin-top: 18px;
  margin-left: 6%;
  font-size: 1.4rem;
}

.storeIntroduction_arrow{
position: relative;
display: inline-block;
padding: 0 0 0 16px;
color: #000;
vertical-align: middle;
text-decoration: none;
font-size: 15px;
z-index: 6;
}
.storeIntroduction_arrow::before,
.storeIntroduction_arrow::after{
position: absolute;
top: 16px;
bottom: 0;
left: 0;
margin: auto;
content: "";
vertical-align: middle;
z-index: 6;
}

.storeIntroduction_arrow::before{
  left: 40%;
width: 14px;
height: 2px;
background: #FF4C00;
}

.storeIntroduction_arrow::after{
  left: 80%;
width: 6px;
height: 6px;
border-top: 2px solid #FF4C00;
border-right: 2px solid #FF4C00;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

.animatedImage {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.animatedImage.visible {
  opacity: 1;
  transform: translateY(0);
}



.rood2{
  position: relative;
}

.rood_foot_2{
  position: absolute;
  bottom: -12px;
  left: 24%;
}

.rood2 img:nth-child(3){
  width: 38%;
  position: absolute;
  top: 30px;
}

.rood2 img:last-child{
  position: absolute;
  width: 27%;
  top: 110px;
  left: 70%;
}

.quest:nth-last-child(2) .store,.quest:last-child .store{
  display: none;
}

.rood3{
  background-color: #F5E8C7;
  position: relative;
}

.rood_foot_3{
  position: absolute;
  bottom: -34px;
  left: 14%;
}

.rood3 img:nth-child(3){
  width: 33%;
  position: absolute;
  top: 10px;
  left: -2%;
}

.rood3 img:last-child{
  width: 42%;
  position: absolute;
  top: 35px;
  left: 60%;
}

.rood4{
  background-color: #F5E8C7;
  position: relative;
}

.rood4 img:first-child{
	position: relative;
  width: 393px;
  left: -40px;
}

.rood_foot_4{
  position: absolute;
  bottom: -10px;
  left: 23%;
}

.rood4 img:nth-child(3){
  width: 42%;
  position: absolute;
  top: 10px;
  left: -18px;
}

.rood4 img:last-child{
  width: 50%;
  position: absolute;
  left: 62%;
  top: 40px;
}

.questContents:last-child{
  padding-bottom: 0;
}

/*======
footer
=======*/

.footer{
  background-color: #D9B574;
  padding-bottom: 60px;
}

.footer .footer__title{
  padding-top: 50px;
  margin-bottom: 25px;
  font-weight: 900;
}

.footer .footer__links{
  border-top: solid 1px;
  width: 80%;
  margin: 0 auto;
}

.footer__links p{
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.footer_div p{
  margin-top: 15px;
  
}

.footer__button{
  background-color: #FFF;
  width: 56%;
  height: 44px;
  display: flex;
  border: none;
  justify-content: start;
  margin:  40px  auto  0 auto;
  background-color: #FF4C00;
}

.footer .footer_p{
  font-weight: bolder;
  color: #fff;
  font-weight: 900;
  margin: 0;
  margin-top: 12px;
  margin-left: 10%;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.footer_arrow{
position: relative;
display: inline-block;
padding: 0 0 0 16px;
color: #000;
vertical-align: middle;
text-decoration: none;
font-size: 15px;
z-index: 6;
}
.footer_arrow::before,
.footer_arrow::after{
position: absolute;
top: 23px;
bottom: 0;
left: 0;
margin: auto;
content: "";
vertical-align: middle;
z-index: 6;
}

.footer_arrow::before{
  left: 40%;
width: 14px;
height: 2px;
background: #FFF;
}

.footer_arrow::after{
  left: 80%;
width: 6px;
height: 6px;
border-top: 2px solid #FFF;
border-right: 2px solid #fff;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}

@media screen and (max-width: 959px) {

}


